{% extends 'base.html' %}

{% block content %}
    <h1>注册界面</h1>
    <form action="./register" method="POST">
        <input type="text" name="name" placeholder="邮箱"><br>
        <input type="password" name="password"><br>
        <input type="text" name="phone" placeholder="请输入手机号"><br>
        <input type="radio" name="gender" value="男">男<br>
        <input type="radio" name="gender" value="女">女<br>
        <input type="text" name="city" placeholder="城市"><br>
        <input type="submit">
    </form>
{% endblock %}